<mat-toolbar class="main-nav" color="primary">
  <img class="logo-image" src="assets/assets/image/banner_light.png" alt="">
  <div class="flex-spacer"></div>
  <a mat-button routerLink="/dashboard" routerLinkActive="mat-accent">Dashboard</a>
  <a mat-button routerLink="/content" routerLinkActive="mat-accent">Content</a>
  <a mat-button routerLink="/design" routerLinkActive="mat-accent">Design</a>
  <a mat-button routerLink="/settings" routerLinkActive="mat-accent">Settings</a>
  <div class="flex-spacer"></div>
  <button mat-icon-button [matMenuTriggerFor]="log_out_menu" class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #log_out_menu="matMenu">
    <a href="/logout" mat-menu-item>Log out</a>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
